body {
    margin: 0;
    max-width: 960;
    margin: auto;

    font-family: sans-serif;
}

header {
    top: 0;
    position: sticky;
    padding: 1em;
    background: gold;
}

header > * {
    display: inline;
}

#account {
    position: absolute;
    top: .5em;
    right: .5em;
    bottom: .5em;
}



main {
    padding: 10px;
}


/* FORMS */

form {
    border: solid;
    width: 11em;
    display: inline-block;
    vertical-align: top;
}

form > label {
    display: block;
    padding: .5em;
}

form > label > * {
    float: right;
    width: 6em;
}

form > label > input {
    padding-left: .5ex;
}

form > label:first-of-type {
    background: lightgreen;
    font-weight: bolder;
}

form > button {
    margin: .5em;
    width: calc(100% - 1em);
}





table.sum {
    border-collapse: collapse;
    display: inline-block;
    vertical-align: top;
    margin: 1em;
}

caption {
    font-weight: bold;
}

table.sum td:last-of-type {
    text-align: right;
    padding-left: 1em;
}

table.sum tr:last-of-type::after {
    content: '+';
    padding-left: 1em;
    position: relative;
    bottom: 1.3em;
}

table.sum tr:last-of-type {
    border-top: 1px solid black;
}

#borrels:empty::after {
    content: "Geen recente borrels, wordt het niet weer eens tijd voor een feestje?";
}

#tellingen:empty::after {
    content: "In de afgelopen 3 maanden is er niet geteld.";
}